@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-green: #014E56;
    --livvic: "Livvic";
    --secondary-pink: #F67E7E;

}

body {
    /* font-family: var(--livvic); */
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.site-header {
    background-color: var(--primary-green);
    width: 100%;
    padding: 77px 0;
    position: relative;
}

.bg{
    position: absolute;
    top: 250px;
    z-index: 0;
    left: -110px;
}

.bg1{
    position: absolute;
    bottom: -68px;
    right: 165px;
}

.site-header-hero {
    background-color: var(--primary-green);
    width: 100%;
    padding: 0px 165px;
    padding-bottom: 250px;

}

.container {
    padding: 0px 165px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 160px;
    height: 40px;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    margin-left: 80px;
}

.nav-link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: .5s;
}

.nav-link:hover {
    color: var(--secondary-pink);
}

.all-btn {
    padding: 9px 32px;
    border-radius: 24px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 577px;
    transition: .5s;
}

.all-btn:hover {
    color: #002529;
    background-color: #FFF;
}

.site-hero {
    display: flex;
    padding-top: 133px;
    column-gap: 30px;
}

.hero-title__text {
    max-width: 635px;
    width: 100%;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    /* 100% */
}

.talent {
    color: var(--secondary-pink);
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}

.hero-title {
    max-width: 635px;
    width: 100%;
}

.hero-desc__text {
    max-width: 445px;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hero-desc::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: #79C8C7;
    margin-bottom: 79px;
}

/* SITE MAIN index.html */

.site-main {
    width: 100%;
    width: 100%;
}

.offers {
    display: flex;
    background: #012F34;
    width: 100%;
    padding: 198px 165px;
    column-gap: 125px;
    position: relative;
}

.bg2{
    position: absolute;
    right: -100px;
    bottom: 0;
}

.offer-title__text {
    max-width: 445px;
    width: 100%;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.offer-title__text::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: #F67E7E;
    margin-bottom: 54px;
}

.offer-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.offer-img {
    width: 72px;
    height: 72px;
}

.offer {
    display: flex;
    column-gap: 23px;
}

.offer-title {
    color: var(--secondary-pink);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
}

.offer-desc {
    max-width: 445px;
    width: 100%;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.8;
}

.offer-text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.service {
    width: 100%;
    padding: 140px 0px;
    background: #004047;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bg3{
    position: absolute;
    top: 0;
    left: 0;
}

.bg4{
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.service-title {
    max-width: 932px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.title-span {
    color: #79C8C7;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.service-cards {
    margin-top: 56px;
    display: flex;
    width: 100%;
    padding: 0px 165px;
    column-gap: 30px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-text {
    max-width: 350px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 24px;
    z-index: 1;
    padding-top: 36px;
}

.author {
    color: #79C8C7;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.author-desc {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
}

.author-img {
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
}

.card-back-img {
    position: absolute;
    top: 0;
    z-index: 0;
}

.contact {
    padding: 76px 263px;
    background: var(--secondary-pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.bg5{
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact-title {
    color: var(--primary-green);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.contact-btn {
    padding: 9px 33px;
    color: var(--primary-green);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid var(--primary-green);
    transition: .5s;
}

.contact-btn:hover {
    background-color: var(--primary-green);
    color: #FFF;
}

.site-footer {
    padding: 48px 165px;
    background: #002529;
    display: flex;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.footer-about {
    margin-left: 125px;
    width: 445px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 51px;
}

.icons {
    display: flex;
    column-gap: 20px;
}

.footer-text {
    color: #FFF;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: .6;
}